<div class="to-pay-desc">
	<div class="to-pay-content">
		<h3>收款账号详细信息</h3>
		<p style="display: none;"><span class="desc">收款银行:</span></p>
		<p><span class="desc">收款账号姓名:</span><%= data.bank_acc_name %></p>
		<p><span class="desc">收款账号:</span><%= data.bank_card_num %></p>
		<p><span class="desc">入金金额:</span><%= data.amount %></p>
		<p><span class="desc">附言</span><%= data.note %></p>
	</div>
	<div class="to-pay-detail">
		<h3>具体步骤</h3>
		<div>
			<p>1.在浏览器打开个人网银系统, 并登陆</p>
			<img src="../../../../../img/pay-items/depost_daddy_bank/detail-1.png">
		</div>
		<div>
			<p>2.输入上面收款账号信息和附言，并输入验证码，确认转账</p>
			<img src="../../../../../img/pay-items/depost_daddy_bank/detail-2.png">
			<img src="../../../../../img/pay-items/depost_daddy_bank/detail-3.png">
		</div>
		<div>
			<p>3.支付成功</p>
			<img src="../../../../../img/pay-items/depost_daddy_bank/detail-4.png">
		</div>
	</div>
</div>