<div class="to-pay-desc">
	<div class="to-pay-content">
		<h3>收款账号详细信息</h3>
		<p style="display: none;"><span class="desc">收款银行:</span></p>
		<p><span class="desc">收款账号姓名:</span><%= data.bank_acc_name %></p>
		<p><span class="desc">收款账号:</span><%= data.bank_card_num %></p>
		<p><span class="desc">入金金额:</span><%= data.amount %></p>
		<p><span class="desc">附言</span><%= data.note %></p>
	</div>
	<div class="to-pay-detail">
		<h3>具体步骤</h3>
		<div>
			<p>1.打开支付宝， 并点击转账</p>
			<img src="../../../../../img/pay-items/depost_daddy_alipay_bank/detail-1.jpg" height="960" width="540">
		</div>
		<div>
			<p>2.点击转账到银行卡</p>
			<img src="../../../../../img/pay-items/depost_daddy_alipay_bank/detail-2.jpg" height="960" width="540">
		</div>
		<div>
			<p>3.填写上述系统返回收款账号信息， 并执行下一步</p>
			<img src="../../../../../img/pay-items/depost_daddy_alipay_bank/detail-3.jpg" height="960" width="540">
		</div>
		<div>
			<p>4.支付宝支付成功后，账户资产会在3-5分钟内进行更新</p>
		</div>
	</div>
</div>